{% load static %}
<!--Footer-->
<footer id="main-footer" class="py-2 page-footer  text-white text-center">
        <hr class="my-4">
    
        <!-- Social icons -->
        <div class="pb-4">
          <a href="#" target="_blank">
            <i class="fab fa-facebook-f mr-3 text-white "></i>
          </a>
    
          <a href="#" target="_blank">
            <i class="fab fa-twitter mr-3 text-white "></i>
          </a>
    
          <a href="#" target="_blank">
            <i class="fab fa-youtube mr-3 text-white "></i>
          </a>
    
          <a href="#" target="_blank">
            <i class="fab fa-google-plus-g mr-3 text-white "></i>
          </a>
    
          <a href="#" target="_blank">
            <i class="fab fa-dribbble mr-3 text-white "></i>
          </a>
    
          <a href="#" target="_blank">
            <i class="fab fa-pinterest mr-3 text-white "></i>
          </a>
    
          <a href="#" target="_blank">
            <i class="fab fa-github mr-3 text-white "></i>
          </a>
    
          <a href="#" target="_blank">
            <i class="fab fa-codepen mr-3 text-white "></i>
          </a>
        </div>
        <!-- Social icons -->
    
        <!--Copyright-->
        <div class="footer-copyright py-3">
          © 2019 Copyright:
          <a class="text-white" href="#" target="_blank"> FASHBIZ.com </a>
        </div>
        <!--/.Copyright-->
    
      </footer>
      <!--/.Footer-->
    