{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <!--Main layout-->
  <main>

    <!--Navbar-->
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mb-5">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">All
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shirts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sport wears</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Outwears</a>
            </li>
            {% for category in item.categories.all %}
             {{ category.title }}
            {% endfor %}

          </ul>
          <!-- Links -->
          <form action="{% url 'core:search' %}" class="form-inline" method="GET" value="{{ request.GET.q }}">
              <div class="md-form my-0">
                  <input class="form-control mr-sm-2" type="text" name="q" value="{{request.GET.q}}" placeholder="Search Products" aria-label="Search"/>
                  <input class="btn btn-sm btn-info" type="submit" name="submit" value="Search"/>
              </div>
            </form>
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->

    
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">
   
        <!--Grid column-->
        <div class="col-md-6 mb-4">


          <img src="{% if object.image %}{{ object.image.url }}{% else %}
          {% static 'img/no.png' %}{% endif %}" class="img-fluid" alt="">
         

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>
            </div>

            <p class="lead">
                {% if object.discount_price %}
                <span class="mr-1">
                  <del>₦{{ object.price }}</del>
                </span>
                <span>₦{{ object.discount_price }}</span>
                {% else %}
                <span>₦{{ object.price }}</span>
                {% endif %}
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description }}</p>
           
            <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </a>
              <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                Remove from cart
              </a>
             

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{ item.description_2 }}.</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="{% if object.image %}{{ object.image_2.url }}{% else %}
          {% static 'img/no.png' %}{% endif %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{% if object.image %}{{ object.image_3.url }}{% else %}
          {% static 'img/no.png' %}{% endif %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="{% if object.image %}{{ object.image_4.url }}{% else %}
          {% static 'img/no.png' %}{% endif %}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>

    
  </div>


  </main>
  <!--Main layout-->

   <!-- Work -->
   <section>
   <section id="work" class="p-2 bg-secondary text-white text-center">
      <h2>Product Reviews</h2>
    </section>

  </section>

  <section id="comment" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
  {% with comments.count as total_comments %}
    <h2 class="py-4">
      {{ total_comments }} comments{{ total_comments|pluralize }}
    </h2>
  {% endwith %}
  {% for comment in item.comments.all %}
    <div class="card p-3 pb-4">
        <div id="gravatar" class="col-md-2  col-xs-4">
        <img class="gravatar img img-rounded img-fluid " src="{% static 'img/avatar.jpg'%}" alt="CEO">
        </div>
        <p class="info">
          
            by {{ comment.name }}
             {{ comment.created }}
               
             </p>
      {{ comment.body|linebreaks }}
    </div>
  {% empty %}
    <p>There are no comments yet.</p>
  {% endfor %}
</div>

<div id="form1" class="col md-6 col-sm-6">
  {% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2 class="py-4">Add a new comment</h2>
  <form method="POST">
      {% csrf_token %}
    {{ form|crispy }}
  <button type="submit" class="btn btn-secondary">submit</button>
  </form>
  {% endif %}
</div>


</section>
    

  {% endblock %}